<h1 class='temp'>Register as a Maker!</h1>

<form class='form-container main'>
	<div class=wrapper>
		<p class='instructs'>Register as a Maker:</p>
	</div>
	<section>
		<input type='text' class='form-control' placeholder='First Name' ng-model='user.first_name' autofocus>
	</section>
	<section>
		<input type='text' class='form-control' placeholder='Last Name' ng-model='user.last_name'>
	</section>
	<section>
		<input type='text' class='form-control' placeholder='Email' ng-model='user.email'>
	</section>
	<section>
		<input type='text' class='form-control' placeholder='MakerName' ng-model='user.username'>
	</section>
	<section>
		<input type='password' class='form-control' placeholder='Password' ng-model='user.password'>
	</section>

	<section>
		<button class='btn' ng-click='register()' ng-enter='register()'>Register</button>
	</section>
	<section>
		<button class='btn'><a href='/'>Cancel</a></button>
	</section>
</form>

