<h1>I'm the registration page.</h1>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4"></div>

    <div class='col-sm-4'>
        <h2 class="form-signin-heading">Please create user</h2>
        <label  for="firstname"
                class="sr-only">First Name</label>
        <input  ng-model='register.firstName'
                name='firstName'
                type="text"
                class="form-control"
                placeholder="First Name"
                required
                autofocus
        >

        <label  for="lastname"
                class="sr-only">Last Name</label>
        <input  ng-model='register.lastName'
                name='lastName'
                type="text"
                class="form-control"
                placeholder="Last Name"
                required
        >

        <label  for="username"
                class="sr-only">User Name</label>
        <input  ng-model='register.userName'
                name='userName'
                type="text"
                class="form-control"
                placeholder="User Name"
                required
        >

        <label  for="email"
                class="sr-only">Email address</label>
        <input  ng-model='register.email'
                name='email'
                type="email"
                class="form-control"
                placeholder="Email address"
                required
        >

        <label  for="password"
                class="sr-only">Password</label>
        <input  ng-model='register.password'
                name='password'
                type="password"
                class="form-control"
                placeholder="Password"
                required
        > -->

        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <button ng-click='register.registerUser()'
                class="btn btn-lg btn-primary btn-block">Register</button>
    </div>

    <div class="col-sm-4"></div>
</div>
</div>
 -->
