<h1 class='temp'>main</h1>
<h1 class='temp'>Hello, ((user.username))</h1>

<form class='container main form-container'>
	<div>
		<p>Search projects here!</p>
	</div>
	<p>Type the names of some supplies you already have, or are curious about, and MakeWhat will return some DIY project ideas! (Examples: scissors, fabric, arduino, etc . . .)</p>
	<p>Use commas to seperate your search terms!</p>
	<section>
		<input type='text' placeholder='Type supply words.' ng-model='selected_supplies' ng-list ng-trim='false' autofocus>
	</section>

	<p>Select what type of project you want to take on:</p>
	<section class='radio-inline' ng-repeat='type in types'>
		<input type='radio' value='((type.name))' ng-model='type.selected' ng-change='add(type)'> ((type.name | capitalize))
	</section>
	<section>
		<button ng-click='search()' ng-enter='search()'>Search</button>
	</section>
</form>

<div class= 'container main project_container'>
	<div class='row' ng-repeat='project in projects | limitTo: 5'>
		<p>((project.name | capitalize))</p>

	</div>
</div>
