<h1 class='temp'>main</h1>
<h1 class='temp'>Hello, ((user.username))</h1>

<form class='container main form-container'>
	<div>
		<p>Search projects here!</p>
	</div>
	<p>Type the names of some supplies you already have, or are curious about, and MakeWhat will return some DIY project ideas! (Examples: scissors, fabric, arduino, etc . . .)</p>
	<p>Use commas to seperate your search terms!</p>
	<section>
		<input type='text' placeholder='Type supply words.' ng-model='selected_supplies' ng-list ng-trim='false' autofocus>
	</section>

	<p>Select what type of project you want to take on:</p>
	<section class='radio-inline' ng-repeat='type in types'>
		<input type='radio' value='((type.name))' ng-model='type.selected' ng-change='add(type)'> ((type.name | capitalize))
	</section>
	<section>
		<button ng-click='search()' ng-enter='search()'>Search</button>
	</section>
</form>

<div class= 'container main project_container'>
	<div class='row' ng-repeat='project in projects | limitTo: 5'>
		<p>((project.name | capitalize))</p>

	</div>
</div>




<!-- <label ng-repeat='fruit in fruits'> -->
  <!--
    - use `value='{{fruit.name}}'` to give the input a real value, in case the form gets submitted
      traditionally

    - use `ng-checked='fruit.selected'` to have the radio checked based on some angular expression
      (no two-way-data-binding)

    - use `ng-model='fruit.selected'` to utilize two-way-data-binding. Note that `.selected`
      is arbitrary. The property name could be anything and will be created on the object if not present.
  -->
  <!-- <input
    type='radio'
    name='selectedFruits[]'
    value='{{fruit.name}}'
    ng-model='fruit.selected'
  > {{fruit.name}}
</label> -->



<!-- <article>
  <section>
    <div>Habitat</div>
    <select ng-options='habitat as habitat.name for habitat in habitats track by habitat.id' ng-model='selectedHabitat'></select>
  </section>
  <section>
    <div>User</div>
    <select ng-options='user as user.username for user in users track by user.id' ng-model='selectedUser'></select>
  </section>
</article>

<p>
  <button ng-click='purchase()'>Purchase Ticket</button>
</p> -->



