<h1 class='temp' ng-hide='!currentUser'>Hello ((currentUser.username))</h1>
<h2 class='temp'>What will you make today?</h2>
	<!-- Search Form -->
<form class='container main form-container'>
	<div>
		<p class='instructs'>Type the names of some supplies you already have, or are curious about, and MakeWhat will return DIY project ideas! (Examples: scissors, fabric, arduino, etc . . .)</p>

	</div>

	<!-- Supplies search input -->
	<p>Use commas to separate your search terms, even terms that shouldn't logically have commas. Ex: instead of "hot glue, wire," type "hot, glue, wire."</p>
	<section>
		<input type='text' class='form-control' placeholder='Type supply words.' ng-model='selected_supplies' ng-list ng-trim='false' autofocus>
	</section>

	<!-- <section class='more_options'>
		<a href=''><p class='showText' ng-click='showTypes = !showTypes'>Search by Project Type</p></a>
	 --></section>

	<!-- Ng-show div shown on click of "Search by type" -->
	<!-- <div class='wrapper' ng-show='showTypes'>
		<p>Select what type of project you want to take on:</p>
		<section class='radio-inline' ng-repeat='type in types'>
			<input type='radio' value='((type.name))' ng-model='type.selected' ng-change='add(type)'> ((type.name | capitalize))
		</section>
	</div> -->

	<!-- Search Button -->
	<section>
		<button class='btn' ng-click='search()' ng-enter='search()'>Search</button>
	</section>
</form>

	<!-- Main Projects Container -->
<div class= 'container main project_container'>
	<div class='row' ng-repeat='project in projects | limitTo: 10'>
		<a href=''><p class='showText' ng-click='show = !show' ng-model='selectedProject'>((project.name | capitalize))</p></a>

	<!-- ng-show div shown on click of a project name -->
		<div class='wrapper inset' ng-show='show'>
			<p class='showProj'>((project.description))</p>
			<p class='showProj'><a href='((project.link))' target='blank'>Check out the tutorial!</a></p>
			<p class='showProj'><a href='' ng-click='saveToMake(project, currentUser)'>Add to my ToMake list</a></p>

		</div>
	</div>
</div>
