<h1 class='temp'>((currentUser.username))'s ToMake List:</h1>
	<!-- Main Projects Container -->
<div class= 'container main project_container'>
	<div class='row' ng-repeat="project in makerProjectMatches | unique: 'name'">
		<a href=''><p class='showText' ng-click='show = !show' value='resource.url'>((project.name | capitalize))</p></a>

	<!-- ng-show div shown on click of a project name -->
		<div class='wrapper' ng-show='show'>
			<p class='showProj'>((project.description))</p>
			<p class='showProj'><a href='((project.link))' target='blank'>Check out the tutorial!</a></p>
			<!-- delete option -->
			<p class='showProj'><a href='' ng-click='deleteToMake(project)'>Delete from my ToMake list</a></p>
		</div>
	</div>

		<!-- ng-show div shown if there are no project matches -->
		<div class='wrapper' ng-show='!makerProjectMatches.length' >
			<p>You haven't saved any projects. <a href='/'>Check some out here</a>, then save them.</p>

		</div>
</div>
