/* Nav Styling */
.nav-pretty {
	background-color: #2196f3;
}

/* Move main (index) container div down to allow for sticky nav bar */
.cont2 {
	margin-top: 7%;
}


/*.heading {
	color: #ffc8c8;

}*/

.temp {
	color: #ffc8c8;
	margin-left: 1px;
	font-size: 2em;
}


/* All a, p, button tags */
button {
	background-color: #2196f3;
}

a, p, button, a:visited, a:focus, button:visited, button:focus{
	color: #ffc8c8;
	text-decoration: none;
	/*font-size: .5em;*/
}

a:hover, button:hover {
	color:#d1f780;
	text-decoration: none;
}


/* Search Form Div and Projects Div */
.main{
	border: 3px solid #d1f780;
	margin: 3px auto;
}

/* Main Search Div */
section {
	margin-top: 10px;
}

/* Projects Div Text */
.project_container p {
	margin-left: 10px;

}

.cont2 {
	margin-top: 7%;
}

.showText:hover {
	color: #2196f3;
}


/* Ng-show-controlled divs */
.wrapper {
	margin-left: 20px;
}

.showProj, .showProj a {
	color: #2196f3;
}

.showProj a:hover {
	color: #19dfba;
}


